RewriteEngine on

RewriteRule ^img/(.*)/user-image.jpg$ user-data/$1/user-image.jpg

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]
