RewriteEngine on

RewriteRule ^img/user-([0-9]{1,})/user-image.jpg$ user-data/user-$1/user-image.jpg

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]
