main {
    min-height: 100vh;
}

#form-div {
    max-width: 70%;
}
body {
    background-color: #1f4e5f;
}
main {
    background-color: white;
    color: #1f4e5f;
}

#form-div{
    min-width: 450px;
}
#form-div  input,.btn , select{
    margin: 3px;
    border-color: #1f4e5f !important;
}
#form-div a {
    font-size: 150%;
}


#form-div  .btn {
    background-color: #3b8686;
    color: white;
}