
#form-div {
    max-width: 70%;
}

main {
    color: #1f4e5f;
}
.status-message {
    font-size: 150%!important;
}
#form-div{
    min-width: 450px;
}
#form-div  input,.btn , select{
    margin: 3px;
    border-color: #1f4e5f !important;
}
#form-div a {
    font-size: 150%;
}


#form-div  .btn {
    background-color: #3b8686;
    color: white;
}